extends layout

block content
  h6.ml-5 URL先のコードを使ってタイピング練習ができるサイトです．
  p.mb-4.ml-5 GitHubのコードに対応しています．
  form(action="/" method="POST")
    .input-group.w-75
      |
      input.form-control.ml-5(
        type="text",
        name="url",
        placeholder="URLを入力してください．",
        size="100",
        value="https://github.com/KoenHan/gym_sfm/blob/master/gym_sfm/envs/world.py")
        //- value="")
      |
      .input-group-append
        input.btn.btn-color(type="submit", value="練習する")
    |
    if show_err
      .text-danger #{err_mes}
