extends layout

block content
  h6 URL先のコードでタイピング練習ができるサイトです．
  p.mb-4 GitHubのコードに対応しています．
  form(action="/" method="POST")
    .input-group.w-50
      |
      input.form-control(
        type="text",
        name="url",
        placeholder="URLを入力してください．",
        size="100",
        value="https://github.com/KoenHan/gym_sfm/blob/master/gym_sfm/envs/world.py")
        //- value="")
      |
      .input-group-append
        input.btn.btn-primary(type="submit", value="練習する")
    |
    if show_err
      .text-danger #{err_mes}
