extends layout

block content
  br
  .wrap
    |
    #start_message spaceを押すとスタートします。
    |
    #displayed_countdown
    |
    #displayed_score
  pre.code
    |
    #typed_lines
    |
    #target_line
    |
    #untyped_lines

  script(type='text/javascript', src='https://code.jquery.com/jquery-3.0.0.min.js')
  script(
    type='text/javascript',
    src='/javascripts/code_typing.js',
    id='main',
    data-texts=texts,
    data-ext=ext)
  //- script(type='text/javascript', src='/javascripts/script.js')

