extends layout

block content
  br
  .wrap
    |
    #start_message spaceを押すとスタートします。
    |
    p#limit_message
      label 制限時間
      select#selected_limit_time(name="limit_time")
        option(value="30", selected="selected") 30秒
        option(value="60") 60秒
        option(value="90") 90秒
        option(value="0") なし
    |
    #displayed_countdown
    |
    #displayed_score
  pre.code
    |
    #typed_lines
    |
    #target_line
    |
    #untyped_lines

  script(type='text/javascript', src='https://code.jquery.com/jquery-3.0.0.min.js')
  script(
    type='text/javascript',
    src='/javascripts/code_typing.js',
    id='main',
    data-texts=texts,
    data-ext=ext)
  //- script(type='text/javascript', src='/javascripts/script.js')

